<div class="container">
  <h1 class="title">Ödeme</h1>

  <div class="summary-box">
    <h3>Sipariş Özeti</h3>

    <p>Toplam Ürün: <b>{{ itemCount }}</b></p>

    <p>Ara Toplam: 
      <b>{{ totalPrice | currency:"TRY" }}</b>
    </p>

    <p>KDV : 
      <b>{{ (totalPrice * 0.20) | currency:"TRY" }}</b>
    </p>

    <hr />

    <p style="font-size: 1.2rem; font-weight: bold;">
      KDV Dahil Toplam:  
      <b>{{ totalPriceWithTax | currency:"TRY" }}</b>
    </p>

    <button class="pay-btn" (click)="submit()" [disabled]="loading">
      {{ loading ? "Sipariş Oluşturuluyor..." : "Siparişi Tamamla" }}
    </button>
  </div>
</div> 
