/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f8f9fb;
  color: #222;
  padding-top: 80px;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #eee;
  }
}
